#categories{
  background-color: #000;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.categories-page-title{
  color: #fff;
  padding-top: 110px;
  padding-left: 26px;
  font-size: 24px;
  line-height: 28px;
  font-family: Gilroy;

}
.categories-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.categories-score{
  color:#fff;
  margin-right: 10px;
}
.categories-title{
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-family: Gilroy;
  margin-left: 10px;

}
.categories-main-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 120px;
}

.logo2{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100px;
  background: url("../../assets/img/logo.png") no-repeat;
  cursor: pointer;
}

.categories-container{
  width: 45%;
  margin: 10px;
}
.categories-img{
  width: 100%;

}
.categories-img img{
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
  opacity: 0.3 ;
  cursor: pointer;
}
.passed img{
  opacity: 1;
}



.categories-img img:hover{
  opacity: 1;
}

.categories-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 75px;
  width: 100vw;
  bottom: 0px;
  border: 2px solid #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #000;

}

.btn-home,
.btn-categories,
.btn-score{
  background-color: #fff;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  cursor: pointer;
  height: 48px;
  width: 60px;
  margin: 0 auto;
}

.btn-home{
  mask-image: url("../../assets/svg/home.svg");
  -webkit-mask-image: url("../../assets/svg/home.svg");
}
.btn-categories{
  mask-image: url("../../assets/svg/categories.svg");
  -webkit-mask-image: url("../../assets/svg/categories.svg");
}

.btn-score{
  mask-image: url("../../assets/svg/score.svg");
  -webkit-mask-image: url("../../assets/svg/score.svg");
}


.btn-home:hover,
.btn-categories:hover,
.btn-score:hover{
  background: #FFBCA2;
}