/* forum-regular - latin */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/forum-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../assets/fonts/forum-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../assets/fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../assets/fonts/forum-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../assets/fonts/forum-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../assets/fonts/forum-v11-latin-regular.svg#Forum') format('svg'); /* Legacy iOS */
}

/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/roboto-v29-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../assets/fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../assets/fonts/roboto-v29-latin-100.woff2') format('woff2'), /* Super Modern Browsers */ url('../assets/fonts/roboto-v29-latin-100.woff') format('woff'), /* Modern Browsers */ url('../assets/fonts/roboto-v29-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */ url('../assets/fonts/roboto-v29-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/roboto-v29-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../assets/fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../assets/fonts/roboto-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../assets/fonts/roboto-v29-latin-300.woff') format('woff'), /* Modern Browsers */ url('../assets/fonts/roboto-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../assets/fonts/roboto-v29-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto Light';
url('../assets/fonts/roboto-light.ttf') format('truetype'), /* Safari, Android, iOS */
}


/* Common styles start */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    color: #030303;
}

div.container {
    max-width: 1440px;
    margin: 0 auto;
}

p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 100;
    color: #000;
}

.text-dark {
    color: #fff;
}

.text-light {
    color: #9D8665;
}

.section-title-underscore {
    position: relative;
}

.section-title-underscore::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}


/* Common styles end */
/* header styles starts */

.header {
    background-color: #030303;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin: 0 auto;
}
.header__logo {
    padding-top: 2px;
}
.logo {
    position: relative;
    top: 0px;
    left: 0px;
    background-image: url("../assets/svg/logo.svg");
    background-repeat: no-repeat;
    color: #fff;
    text-transform: uppercase;
    height: 33px;
    width: 199px;
    padding-left: 74px;
    margin-right: 60px;
    font: 28px Forum;
    font-weight: 400;
    letter-spacing: 5px;
    transition: 1s;

}

.logo:hover {
    cursor: pointer;
    filter: invert(55%) sepia(40%) saturate(314%) hue-rotate(356deg) brightness(100%) contrast(100%);
    transition: 1s linear;
}

.header__navigation {
    width: 720px;
}

.header__nav {
    max-width: 720px;
    padding-right: 10px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    list-style: none;
}

.header__nav-list a{
    line-height: 150px;
}

.nav-list a {
    display: block;
    font-family: Roboto;
    font-style: normal;
    color: #fff;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a:active {
    filter: invert(55%) sepia(40%) saturate(314%) hue-rotate(356deg) brightness(100%) contrast(100%);
    transition: 1s linear;
}


/* header styles end */


/* welcome styles starts */
.welcome {
    background-color: #030303;
    height: 810px;
    position: relative;
    margin: 0 auto;

}

.welcome-container {
    position: relative;
    margin: 0 auto;
}

.welcome__slider-wrapper {
    margin: 0 auto;
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 750px;
    background: url("../assets/img/welcome-slider/1.jpg");
    background-repeat: no-repeat;
    background-position: right;

}

.welcome__slider-wrapper::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 30%;
    margin: 0 auto;
    width: 70%;
    height: 750px;
    background: linear-gradient(
            90deg,
            #000 0%,
            rgba(0, 0, 0, 0.5) 16.19%,
            rgba(0, 0, 0, 0) 30.73%
    );
    background-repeat: no-repeat;
    background-position: right;
    z-index: 33;
}

.welcome__slider {
    position: relative;
    padding-top: 150px;
    z-index: 34;
}

.section-title {
    font-family: Forum;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section-desc {
    padding-top: 25px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
}

.welcome__button {
    padding-top: 75px;
}

.welcome__button a {
    display: block;
    color: #fff;
    background-color: #710707;
    width: 360px;
    height: 75px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 22px;
    line-height: 75px;
    font-weight: 100;
    border-radius: 10px;
    transition: 1s;
}


.welcome__button a:hover{
    background-color: #9D8665;
    transition: 1s;
}

.welcome__control {
    height: 120px;
    width: 600px;
    position: relative;
    left: calc(100% - 600px);
    top: -60px;
    background-color: #030303;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.welcome__control-num {
    font-family: Roboto;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    width: 76px;
}

.welcome__control-slide_pag {
    width: 180px;
    height: 100%;
}

.welcome__control-slide_pag ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.welcome__control-slide_pag ul li {
    background-position: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #fff;
    -webkit-mask-image: url("../assets/img/welcome-slider/slide_pagination.svg");
    -webkit-mask-size: cover;
    transition: 1s;
}

.welcome__control-slide_pag ul li:hover,
.welcome__control-slide_pag ul li:focus {
    background-color: #9D8665;
    cursor: pointer;
}

.welcome__control-slide_pag ul li.active {
    background-color: #D2B183;
}

.welcome__control-arrows {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.welcome__control-arrow {
    background-position: center;
    width: 28px;
    height: 8px;
    background-color: #fff;
    -webkit-mask-size: cover;
    transition: 1s;
}

.arrow-left {
    -webkit-mask-image: url("../assets/img/welcome-slider/arr_left.svg");
}

.arrow-right {
    -webkit-mask-image: url("../assets/img/welcome-slider/arr_right.svg");
}

.welcome__control-arrow:hover,
.welcome__control-arrow:focus,
.welcome__control-arrow:active {
    cursor: pointer;
    background-color: #76654D;
}


/* welcome styles end */
/* visiting styles starts */

.visiting {
    padding-top: 75px;
    padding-bottom: 75px;
}

.visiting__cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
    margin-top: 103px;
}

.visiting__card {
    display: block;
    cursor: pointer;
    width: 440px;
    height: 424px;
    color: #030303;
    text-decoration: none;
}

.visiting__card-title {
    padding-top: 25px;
}

.card-title {
    position: relative;
    font-family: Forum;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: #710707;
    transition: 1s;
}

.visiting__card:hover .card-title::after {
    width: 100%;
    transition: 1s;
}

.visiting__card-addition {
    padding-top: 20px;
}

.addition-text1 {

}

.addition-text2 {
    padding-top: 10px;
    font-size: 18px;
}

/* visiting styles end */
/* explore styles start */

.explore {
    background-color: #030303;

}

.explore-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 865px;
}

.explore__text {
    padding-top: 75px;
    padding-right: 50px;
    height: 100%;
    width: 50%;
}

.explore__desc {
    padding-top: 85px;

}

.explore__desc p {
    padding-bottom: 50px;
    color: #fff;
}

.explore__image {
    width: 720px;
    height: 700px;
    background-image: url("../assets/img/explore-slider/after.jpg");
}

/* explore styles end */
/* video styles start */
.video {
    padding-top: 75px;
    padding-bottom: 75px;
}

.video-container {
    height: 1246px;
}

.video__text {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 75px;
    align-items: center;
}

.video__title {
    width: 50%;
}

.video_desc {
    width: 50%;
    line-height: 38.5px
}

.video__video {
    position: relative;
    background-image: url("../assets/img/video/video.jpg");
    background-repeat: no-repeat;
    height: 650px;
}

.video__play-round {
    background-image: url("../assets/img/video/play_round_center.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

.video__play {
    background-image: url("../assets/img/video/play_center.svg");
    background-repeat: no-repeat;
    background-position: 690px center;
    height: 650px;
}

.video__controls {
    width: 100%;
    height: 85px;
    background-color: #030303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.play-control {
    width: 23px;
    height: 31px;
    -webkit-mask-image: url("../assets/img/video/play_control.svg");
    background-repeat: no-repeat;
    margin-left: 30px;
    background-color: #B3B3B3;
}
.play-control:hover{
    background-color: #989898;
    transition: .3s;
    cursor: pointer;
}
.volume {
    width: 38px;
    height: 31px;
    -webkit-mask-image: url("../assets/img/video/volume.svg");
    background-repeat: no-repeat;
    background-color: #B3B3B3;
}
.volume:hover{
    background-color: #989898;
    transition: .3s;
    cursor: pointer;
}

.frame {
    width: 35px;
    height: 35px;
    -webkit-mask-image: url("../assets/img/video/frame.svg");
    background-repeat: no-repeat;
    margin-right: 30px;
    background-color: #B3B3B3;
}
.frame:hover{
    background-color: #989898;
    transition: .3s;
    cursor: pointer;
}

.progress1 {
    background: linear-gradient(to right, #710707 0%,
    #710707 50%, #fff 50%, #fff 100%);
    border: solid 2px #710707;
    border-radius: 8px;
    height: 8px;
    width: 929px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress1::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.progress2 {
    background: linear-gradient(to right, #710707 0%, #710707 50%, #fff 50%, #fff 100%);
    border: solid 2px #710707;
    border-radius: 8px;
    height: 8px;
    width: 155px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress2::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.video__frames {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 42px;
}

.video__frame {
    width: 452px;
    height: 254px;
    background-repeat: no-repeat;
}

.frame1 {
    background-image: url("../assets/img/video/video-slide-item1.jpg");
}

.frame2 {
    background-image: url("../assets/img/video/video-slide-item2.jpg");
}

.frame3 {
    background-image: url("../assets/img/video/video-slide-item3.jpg");
}

.video__pag {
    padding-top: 60px;
    margin: 0 auto;
    width: 200px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pag-arrow {
    background-position: center;
    width: 14px;
    height: 12px;
    cursor: pointer;
    background-color: #999;
    -webkit-mask-size: cover;
    transition: 1s;
}

.pag-arrow-left {
    margin-right: 20px;
    -webkit-mask-image: url("../assets/img/video/pag_arrow_left.svg");
}
.pag-arrow-right {
    -webkit-mask-image: url("../assets/img/video/pag_arrow_right.svg");
    margin-left: 20px;
}

.pag-arrow:hover,
.pag-arrow:focus,
.pag-arrow.active{
    background-color: #710707;
    cursor: pointer;
}

.video__pag-round {
    width: 100%;
    height: 12px;
}

.video__pag-round ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.video__pag-round ul li {
    background-position: center;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #999;
    -webkit-mask-image: url("../assets/img/video/pag_round.svg");
    -webkit-mask-size: cover;
    transition: 1s;
}

.video__pag-round ul li:hover,
.video__pag-round ul li:focus {
    background-color: #710707;
    cursor: pointer;
}

.video__pag-round ul li.active {
    background-color: #333;
}

/* video styles end */
/* gallery styles start */
.gallery{
    background-color: #030303;
}
.picture-container {
    background-color: #030303;
    height: 2200px;
    width: 1440px;
    overflow-y: hidden;
    padding-top: 75px;
}
.picture-inner-container {
    padding-top: 75px;
    height: 2970px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 36px;
    justify-content: center;
}
.gallery-img {
    height: auto;
    width: 456px;
}

.gallery-gradient {
    position: relative;
    bottom: 1295px;
}

/* gallery styles end */
/* tickets styles start */

.tickets {
    background-color: #fff;
}

.tickets-container {
    padding-top: 80px;
    padding-bottom: 75px;
}

.ticket__inner {
    padding-top: 80px;
    display: flex;
}

.tickets__buy {
    display: flex;
    justify-content: space-between;
    width: 720px;
}

.tickets__type {
    margin-left: 60px;
}

.radio {
    margin-top: 50px;
}

.tickets__amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tickets__text-title {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #030303;
    margin-bottom: 51px;
}

.tickets__text {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #030303;
    margin-bottom: 25px;
    display: block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
}

.tickets__type .tickets__text {
    padding-left: 40px;
}

.tickets__text input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #030303;
}

.tickets__text input:checked~.checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.tickets__text input:checked~.checkmark:after {
    display: block;
}

.tickets__text .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #030303;
}

.amount__title {
    margin-bottom: 26px;
}

.amount__text {
    margin-bottom: 14px;
    display: flex;
    margin-left: 25px;
    align-self: self-start;
}

.amout__inner {
    margin-bottom: 35px;
    border: 3px solid #030303;
    height: 50px;
    width: 150px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.amont__input {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #030303;
    background-color: #fff;
    width: 40px;
    padding-left: 10px;
    border:0px;
}

.amont__button {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 37px;
    color: #030303;
    background-color: #fff;
    padding: 0 11px;
    width: 40px;
    border:0px;
}

.tickets__total {
    margin-bottom: 60px;
    margin-top: 38px;
    width: 100%;
    padding-left: 25px;
    letter-spacing: 1.65px;
}

.tickets__button {
    color: #fff;
    background-color: #030303;
    letter-spacing: 2px;
    width: 175px;
    height: 50px;
    transition: 0.8s;
}

.tickets__button:hover {
    background-color: #9d8665;
    transition: 0.8s;
}

.popup {
    margin: 0 auto;
    visibility: hidden;
    position: fixed;
    width: 1440px;
    padding: 92px 235px;
    top: 11%;
    background-color: white;
    z-index: 200;
    left: -3000px;
}

.overlay {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;
}

.form__inner {
    display: flex;
    justify-content: space-between;
}

.form__x {
    position: absolute;
    top: 30px;
    right: 29px;
    border: 0px;
    background-color: #fff;
}

.form__left {
    width: 400px;
}

.form__title {
    color: #9d8665;
    font-size: 50px;
    letter-spacing: 0;
    margin-bottom: 15px;
}

.form__subtitle {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 21px;
    color: #710707;
    border-bottom: 3px solid #740c11;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

.form__left input,
.select {
    border: 1px solid #030303;
}

.date,
.time {
    width: 190px;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}

.name,
.email,
.phone,
.select {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 43px;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    padding-right: 15px;
}

.date {
    background: url(../assets/svg/date.svg) no-repeat center;
    background-position-x: 14px;
    background-position-y: 14px;
    margin-right: 16px;
    padding-left: 19px;
}

.time {
    background: url(../assets/svg/Time.svg) no-repeat center;
    background-position-x: 14px;
    background-position-y: 14px;
}

.name {
    background: url(../assets/svg/name.svg) no-repeat center;
    background-position-x: 14px;
    background-position-y: 14px;
}

.email {
    background: url(../assets/svg/email.svg) no-repeat center;
    background-position-x: 14px;
    background-position-y: 16px;
}

.phone {
    background: url(../assets/svg/tel.svg) no-repeat center;
    background-position-x: 14px;
    background-position-y: 10px;
}

.select {
    background: url(../assets/svg/type.svg) no-repeat center;
    background-position-x: 14px;
    background-position-y: 14px;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 1;
}

.date:before {
    content: 'Date';
    color: #030303;
    z-index: -200;
    padding-right: 100px;
    padding-left: 25px;
}

.date__input,
.time__input {
    position: relative;
    display: inline-block;
}

.date__svg {
    position: absolute;
    top: 14px;
    left: 158px;
    z-index: -10;
}

.time__svg {
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: -10;
}

::placeholder {
    color: #030303;
}

.time:before {
    content: 'Time';
    color: #030303;
    z-index: -200;
    padding-right: 100px;
    padding-left: 30px;
}

.select__input {
    position: relative;
}

.select__svg {
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: -10;
}

.select {
    -webkit-appearance: none;
}

.option {
    display: none;
}

.form__count {
    border: 1px solid #030303;
    padding: 9px 14px 14px 14px;
}

.form__count-title {
    font-family: "Forum";
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9d8665;
    border-bottom: 2px solid #740c11;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.form__count-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__count-inner:last-child {
    margin-top: 18px;
}

.form__count-label {
    font-family: "Roboto";
    font-size: 18px;
    color: #030303;
}

.form__count-items {
    display: flex;
    align-items: stretch;
    text-align: center;
}

.form__count-input {
    text-align: center;
    width: 35px;
    height: 25px;
    font-family: "Roboto";
    font-size: 18px;
    color: #030303;
}

.form__count-button {
    background-color: #030303;
    color: #ffff;
    font-family: "Roboto";
    font-size: 20px;
    width: 35px;
    height: 25px;
}

.form__right {
    border: 1px solid #030303;
    width: 530px;
    padding: 24px 29px;
}

.form__right__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.form__right-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
    margin-bottom: 3px;
    margin-top: 1px;
}

.form__right-subtitle {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740c11;
    opacity: 0.9;
    margin-bottom: 9px;
}

.form__right-date,
.form__right-time,
.form__right-exhibition {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    margin-bottom: 6px;
    padding-left: 30px;
}

.form__right-date {
    background: url(../assets/svg/date.svg) no-repeat left center;
}

.form__right-time {
    background: url(../assets/svg/Time.svg) no-repeat left center;
}

.form__right-exhibition {
    background: url(../assets/svg/check_circle_outline.svg) no-repeat left center;
}

.form__right__header-img {
    height: 120px;
}

.form__right-types {
    border-bottom: 2px solid #740c11;
    padding-bottom: 4px;
}

.form__right-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form__right-price {
    font-family: "Roboto";
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}

.form__right-price-left::before {
    position: relative;
    align-items: center;
    display: inline-block;
    text-align: center;
    content: "2";
    background-color: #030303;
    border-radius: 5px;
    width: 32px;
    height: 20px;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 21px;
    color: #a4a4a3;
    margin-right: 4px;
}

.form__right-total {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-size: 32px;
    line-height: 37px;
    color: #030303;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__right-total span {
    font-weight: 500;
}

.form__right__card {
    position: relative;
}

.card-frontside {
    position: relative;
    width: 360px;
    height: 211px;
    background-color: #bcbcbc;
    z-index: 1;
    padding: 15px 20px 5px 20px;
    border-radius: 3px;
}

.card-frontside__text {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    margin-bottom: 5px;
}

.visa {
    position: absolute;
    top: 34px;
    right: 20px;
}

.mastercard {
    position: absolute;
    top: 65px;
    right: 20px;
}

.card__date__container {
    display: flex;
    width: 215px;
    justify-content: space-between;
}

.card__input {
    margin-bottom: 10px;
    height: 35px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    padding: 0 10px;
    border:0px;
}

.card__number {
    width: 215px;
}

.card__date {
    width: 72px;
}

.card__name {
    width: 320px;
    text-transform: uppercase;
}

.card-backside {
    position: absolute;
    right: 0;
    top: 30px;
    width: 360px;
    height: 211px;
    background-color: #939393;
    text-align: right;
    border-radius: 3px;
}

.card-backside-blackline {
    height: 45px;
    width: 100%;
    background-color: #161615;
    margin-top: 25px;
}

.form__right__button-container {
    display: flex;
    justify-content: end;
}

.form__right__button {
    background-color: #710707;
    width: 220px;
    height: 45px;
    font-family: "Roboto";
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    margin-top: 56px;
    position: relative;
    overflow: hidden;
}

.form__right__button span {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation: ripple 2s;
    opacity: 0;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}

.card-backside-cvv {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    margin-right: 30px;
    margin-top: 15px;
}

.card-backside-cvv-input {
    width: 75px;
    height: 35px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.card-backside-cvv__info-container {
    display: flex;
    justify-content: end;
}

.card-backside-cvv__info {
    font-family: "Roboto";
    font-size: 10px;
    line-height: 12px;
    color: #161615;
    margin-right: 30px;
    text-align: left;
}


.card__date__container__inner {
    display: flex;
}

.up__down {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #a4a4a3;
    height: 35px;
}

.up {
    background-color: #fff;
    width: 28px;
    height: 17.5px;
    position: relative;
    -webkit-appearance: none;
    border:0px;
}

.down {
    background-color: #fff;
    width: 28px;
    height: 17.5px;
    position: relative;
    border:0px;
}

.up img {
    position: absolute;
    bottom: 1.5px;
    right: 10px;
}

.down img {
    transform: rotate(180deg);
    position: absolute;
    top: 1.5px;
    right: 11px;


}

/* tickets styles end */

/* parallax*/

.parallax {
    background-image: url(../assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}

/* contacts styles start */

.contacts-container {
    padding-top: 80px;
    padding-bottom: 75px;
}

.contacts__inner {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
}

.contacts__title {
    border-bottom: 3px solid #710707;
    color: #9d8665;
    padding-bottom: 30px;
    margin-bottom: 75px;
}

.contacts__title-info-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    font-style: normal;
    margin-bottom: 53px;
}

.contacts__title-info {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}

.contacts__title-info a {
    color: #030303;
    text-decoration: none;
}

.contacts__title-info a:hover {
    text-decoration: underline;
}

.contacts__title-info p {
    margin-bottom: 29px;
}

.contacts__img {
    margin-top: 75px;
}

.title:hover {
    color: #9d8665;
    transition: 0.8s;
}

/* contacts styles end */
/* footer start */


.footer {
    background-color: #030303;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 25px;
}

.footer__top__left {
    display: flex;
}

.navigation__footer {
    columns: 2;
    width: 500px;
    margin-left: 81px;
}

.navigation__footer li {
    margin-bottom: 25px;
}

.line {
    border-top: 3px solid #666666;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;

}

.footer__bottom a {
    color: #ffffff;
    text-decoration: none;
}


.footer__links {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
}

.footer__links-item {
    display: flex;
    flex-direction: column-reverse;
}

.footer__link {
    border: 1px solid #666666;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

.footer__link:hover {
    border: 1px solid #9d8665;
    transition: 0.8s;
}

.footer__link:active {
    border: 1px solid #7e6c51;
}

.svg {
    fill: #ffffff;
    transition: 0.8s;
}

.footer__link:hover .svg {
    fill: #9d8665;
    transition: 0.8s;
}

.footer__link:active .svg {
    fill: #7e6c51;
}

.footer__bottom p {
    color: #fff;
}

.footer__bottom-link {
    transition: 0.8s;
}

.footer__bottom-link:hover {
    filter: invert(55%) sepia(40%) saturate(314%) hue-rotate(356deg) brightness(100%) contrast(100%);
    transition: 1s linear;
}

.footer__bottom-link:active {
    color: #7e6c51;
}

/* footer end */
